@charset "utf-8";

.hubsDate {position:absolute;z-index:1000;clear:both;display:none;background-image:url(about:blank;);}
.hubsDate .popPanel {position:absolute;z-index:100;	top:5px;left:0;border:1px solid #ccc;background-color:#fff;border-bottom:2px solid #A3A3A3;border-right:2px solid #A3A3A3;}
.hubsDate .sicon {background-position:-25px 3px;}
.hubsDate .dpanel {width:170px;*zoom:1;}
.hubsDate .dpanel:after {clear:both;display:block;height:0;visibility:hidden;content:"\20";}
.hubsDate .dpart {	float:left;display:inline;margin-left:-1px;border-left:1px solid #ccc;width:170px;	overflow:hidden;color:#333;background-color:transparent;}
.hubsDate .dpart h3{height:24px;font:normal 12px/24px tahoma, arial, sans-serif;text-align:center;	background-color:transparent;color:#ED660C;	margin:5px 0;font-weight:800;width:170px;padding: 0;}
.hubsDate .dpart h3 *{float:left;}
.hubsDate .dpart h3 .butm{float:left;width:120px;cursor: pointer;}
.hubsDate .dpart table {margin:1px;padding:0;border:0 none;border-collapse:collapse;width:168px;background-color:transparent;text-indent:0;	}
.hubsDate .dpart table tr.thead td{font-weight:800;	}
.hubsDate .dpart table tr.thead td.holi{color:#cc0000;}
.hubsDate .dpart tr,
.hubsDate .dpart tr{border:none;height:18px;}
.hubsDate .dpart td,
.hubsDate .dpart td{margin:0;padding:0!important;width:24px;height:18px;font:normal 12px/18px tahoma, arial, sans-serif;text-align:center;vertical-align:middle;cursor:pointer;	border:none;}
.hubsDate .dpart .thead td {border-bottom:1px solid #ccc;height:21px;line-height:21px;}
.hubsDate .upTd,
.hubsDate .upTd{top:0;left:0;width:24px;height:24px;background:url(calendar.png) no-repeat -44px -699px;cursor:pointer;}
.hubsDate .downTd,
.hubsDate .downTd{top:5px;right:0;width:24px;height:24px;background:url(calendar.png) no-repeat -62px -699px;cursor:pointer;}
.hubsDate .cnone{color:#999;cursor:default;}
.hubsDate .today{color:#00f;}
.hubsDate .curr {background-color:#cc0000;color:#fff;}
.hubsDate .othr {background-color:#1166CC;color:#fff;}
.hubsDate .onmouseover {background-color:#fdab00;color:#fff;cursor:pointer;}
.hubsDate.toD .onmouseover {background-color:#6899ff;color:#fff;cursor:pointer;}
.hubsDate td.out {background-color:transparent;color:#999;cursor:not-allowed;}
.hubsDate .dbg1, .dbg2, .dbg3, .dbg4, .dbg5, .dbg6, .dbg7, .dbg8, .dbg9, .dbg10, .dbg11, .dbg12 {background:url("calendar.png") no-repeat scroll 0 0 transparent;}
.hubsDate .bgCalender1, .bgCalender2, .bgCalender3, .bgCalender4, .bgCalender5, .bgCalender6, .bgCalender7, .bgCalender8, .bgCalender9, .bgCalender10, .bgCalender11, .bgCalender12{background:url("calendar.png") no-repeat scroll 0 0 transparent;}
.hubsDate .dbg1, .bgCalender1 {background-position:36px 60px;}
.hubsDate .dbg2, .bgCalender2 {background-position:-134px 60px;}
.hubsDate .dbg3, .bgCalender3 {background-position:-306px 60px;}
.hubsDate .dbg4, .bgCalender4 {background-position:36px -100px;}
.hubsDate .dbg5, .bgCalender5 {background-position:-134px -100px;}
.hubsDate .dbg6, .bgCalender6 {background-position:-306px -100px;}
.hubsDate .dbg7, .bgCalender7 {background-position:36px -257px;}
.hubsDate .dbg8, .bgCalender8 {background-position:-134px -257px;}
.hubsDate .dbg9, .bgCalender9 {background-position:-306px -257px;}
.hubsDate .dbg10, .bgCalender10 {background-position:36px -412px;}
.hubsDate .dbg11, .bgCalender11 {background-position:-134px -412px;}
.hubsDate .dbg12, .bgCalender12 {background-position:-306px -412px;}
.hubsDate .popPanel .tips{background:#FEFFCD;border:1px solid #ccc;display:block;   padding:10px;position:absolute;width:100px;text-align:center;color:#666;font:12px/18px Arial, Helvetica, sans-serif;}
.hubsDate .popPanel .tips p{text-align:center;}
.hubsDate .close{background-color: #F66600;height: 30px;text-align: center;cursor: pointer;color: #ffffff;width:170px;}
.hubsDate .close span{width:338px;vertical-align:top;}



.hubsDate .styear{display:none;}
.hubsDate .styear dl{}
.hubsDate .styear dl dt{background: url("calendar.png") no-repeat scroll 0 0 transparent;height: 24px;width: 20px; cursor: pointer;float: left; margin-top: 55px;}
.hubsDate .styear dl dt.sy{background-position: -85px -699px;}
.hubsDate .styear dl dt.ey{background-position: -100px -699px;}
.hubsDate .styear .sl{float: left;overflow: hidden;width: 130px;}
.hubsDate .styear .sl dd{background-color: #FEFFCD;border: 1px solid #CCCCCC;cursor: pointer;float: left;line-height: 22px;margin: 1px;text-align: center;width: 39px;}

